<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>

        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n" />
        </Console>

        <File name="LogToFile" fileName="logs/app.log">
            <PatternLayout>
                <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
            </PatternLayout>
        </File>

        <File name="log" fileName="app.log">
            <PatternLayout>
                <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
            </PatternLayout>
        </File>

    </Appenders>

    <Loggers>
        <Logger name="LogToFile" level="ALL" additivity="false">
            <AppenderRef ref="LogToFile"/>
            <AppenderRef ref="console"/>
        </Logger>

        <Logger name="log" level="INFO" additivity="true">
            <AppenderRef ref="log"/>
        </Logger>

        <Logger level="INFO" additivity="false">
            <AppenderRef ref="console" />
        </Logger>

    </Loggers>

</Configuration>